//====================================================================================================


.main-block {
	position: relative;
	padding: rem(149) rem(0) rem(450) rem(0);

	&__container {
		position: relative;
		z-index: 2;
	}

	&__header {
		color: #fff;
	}

	&__subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 26, 14);

		line-height: math.div(39, 26);

	}

	&__title {
		padding: rem(25) rem(0) rem(39) rem(0);
		font-weight: 600;
		@include adaptiveValue("font-size", 64, 48);
		line-height: math.div(96, 64);

	}

	&__body {}

	&__content {
		display: flex;
		@include adaptiveValue("gap", 50, 30);
		@include adaptiveValue("padding-bottom", 92, 60);

		@media (max-width:$mobileSmall) {
			flex-direction: column;
			gap: rem(90);

		}

	}

	&__discont {
		position: relative;
		font-weight: 700;

		@include adaptiveValue("font-size", 32, 26);
		line-height: math.div(48, 32);

		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
		padding-top: rem(15);


		&::before {
			content: '';
			z-index: 1;
			position: absolute;
			background-color: $yellowColor;
			border-radius: 50%;

			width: rem(205);
			height: rem(205);
		}

		@media (max-width:$mobileSmall) {
			align-items: flex-start;
		}
	}



	&__description {
		@include adaptiveValue("font-size", 36, 24);
		font-weight: 600;

		line-height: math.div(64, 36);
		@include adaptiveValue("max-width", 324, 200);

		@media (max-width:$mobileSmall) {
			flex-direction: column;
			gap: rem(90);
			max-width: fit-content;
		}

	}

	&__button {

		max-width: fit-content;
		padding: rem(13) rem(54);
		background-color: $yellowColor;
		font-weight: 700;
		font-size: rem(14);
		line-height: math.div(21, 14);

		transition: all 0.3s ease 0s;


		@media (any-hover: hover) {
			&:hover {
				color: #000;
				background-color: #dfb304;
			}
		}
	}

	&__background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.discont {
	padding-left: rem(22);

	&__percent {
		padding-top: rem(30);
		font-weight: 700;
		font-size: rem(64);
		line-height: math.div(76, 64);
		z-index: 5;

		@media (max-width:$mobileSmall) {
			padding-left: rem(32);
		}

	}

	&__text {
		z-index: 5;
		font-weight: 700;
		font-size: rem(32);
		line-height: math.div(48, 32);

		@media (max-width:$mobileSmall) {
			padding-left: rem(22);
		}
	}

	@media (max-width:$mobileSmall) {
		padding-left: rem(0);
	}

}

//====================================================================================================


.categories {
	color: #000;
	padding: rem(27) rem(0) rem(40) rem(0);

	&__container {}

	&__title {}

	&__columns {
		padding-top: rem(112);
		display: flex;
		justify-content: space-between;

		@media (max-width:$mobile) {
			flex-wrap: wrap;
			row-gap: rem(50);

		}

		@media (max-width: em(620)) {
			align-items: center;
			justify-content: center;
		}


	}

	&__column {}
}

.column-categories {




	display: grid;

	gap: rem(14);
	justify-items: center;
	align-items: end;



	&__image {




		img {
			position: relative;
			;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	}

	&__label {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 10);

		line-height: math.div(36, 24);
		color: #231900;

		@media (max-width:$mobile) {
			font-size: rem(24);
		}
	}

	&__amount {
		@include adaptiveValue("font-size", 20, 8);
		font-weight: 600;

		line-height: math.div(30, 20);
		color: #231900;

		@media (max-width:$mobile) {
			font-size: rem(20);
		}
	}
}

//========================================================================================================================================================


.advantages {
	background-color: $yellowColor;
	padding: rem(43) rem(0) rem(58) rem(0);

	&__container {}

	&__columns {}

	&__column {
		display: flex;
		justify-content: space-between;

		@media (max-width:$mobile) {

			flex-direction: column;
			gap: rem(50);
		}
	}
}

.column-advantages {

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	&__icon {
		background-color: #fff;
		border-radius: 50%;
		height: rem(105);
		width: rem(105);
		display: grid;
		place-items: center;
	}

	&__label {
		padding: rem(42) rem(0) rem(22) rem(0);
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(30, 20);
		color: #FFFFFF;
		max-width: rem(171);
		text-align: center;

		@media (max-width:$mobile) {
			padding: rem(22) rem(0) rem(22) rem(0);

		}
	}

	&__description {
		font-weight: 600;

		@include adaptiveValue("font-size", 17, 8);
		line-height: math.div(26, 17);
		color: #FFFFFF;
		text-align: center;

		@media (max-width:$tablet) {
			max-width: rem(230);
		}

		@media (max-width:$mobile) {
			max-width: rem(430);
			font-size: rem(17);
		}
	}

}

//========================================================================================================================================================


.outlets {
	border-color: #F5F5F5;
	color: #231900;
	padding: rem(76) rem(0) rem(44) rem(0);


	&__title {}

	&__columns {
		padding-top: rem(24);
		display: flex;
		justify-content: space-between;

		@media (max-width:$mobile) {
			flex-direction: column;
			gap: rem(30);
			padding-top: rem(54);
		}
	}

	&__column {
		display: grid;
		place-items: center;
	}
}

.title {

	&__value {}

	&__label {}
}

.column-outlets {

	&__image {



		img {
			@include adaptiveValue("height", 440, 100);
			width: auto;

			@media (max-width:$mobile) {
				@include adaptiveValue("height", 440, 300);
			}


		}

	}

	&__icon {
		align-self: center;
		padding: rem(20) rem(0) rem(10) rem(0);
	}

	&__address {
		font-weight: 700;

		@include adaptiveValue("font-size", 20, 14);

		line-height: math.div(30, 20);
		text-align: center;
		transition: all 0.3s ease 0s;
		
		@media (any-hover: hover){
			&:hover{
				color: $yellowColor;
			}
		}




	}
}

//========================================================================================================================================================


.started {
	position: relative;
	padding: rem(108) rem(0) rem(0) rem(0);

	&__container {
		display: grid;
		grid-template-columns: 1fr minmax(rem(10), rem(585));
		gap: rem(30);

		@media (max-width:$tablet) {
			grid-template-columns: 1fr;
			place-items: center;

			gap: rem(50);
		}
	}

	&__main-block {}

	&__title {
		position: relative;
		text-align: start;

		&::before {
			content: '';
			position: absolute;
			bottom: rem(-16);
			border-bottom: 5px solid $yellowColor;
			width: rem(175);
		}
	}

	&__body {
		color: #231900;
		padding: rem(32) rem(0) rem(0) rem(0);

	}

	&__content {
		max-width: rem(585);
	}

	&__image {

		position: relative;

		img {


			@include adaptiveValue("padding-top", 0, 300);
			@include adaptiveValue("max-width", 585, 100);
			height: auto;

			@media (max-width:$tablet) {
				@include adaptiveValue("min-width", 585, 300);
				padding-top: rem(0);


			}

		}


	}
}

.title {

	&__value {}

	&__label {}
}

.content-started {

	&__label {
		font-weight: 600;
		@include adaptiveValue("font-size", 26, 18);
		line-height: math.div(39, 26);
		padding-bottom: rem(16);
	}

	&__text {
		font-weight: 400;
		font-size: rem(17);
		line-height: math.div(26, 17);
		display: inline-block;

	}

	&__columns {
		display: flex;

		@media (max-width:$mobile) {
			gap: rem(20);
		}

		@media (max-width:rem(495)) {
			flex-direction: column;
		}

	}

	&__column {}
}

.column-content-started {
	padding: rem(41) rem(0) rem(0) rem(0);
	max-width: rem(277);



	&__icon {}

	&__label {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(30, 20);
		padding: rem(19) rem(0) rem(8) rem(0);
	}

	&__text {
		font-weight: 400;
		font-size: rem(17);
		line-height: math.div(26, 17);

	}
}



//========================================================================================================================================================

.team {
	padding: rem(134) rem(0) rem(65) rem(0);

	&__container {}

	&__title {
		position: relative;





	}

	&__columns {
		padding-top: rem(109);
		display: flex;
		justify-content: space-between;
		gap: rem(15);

		@media (max-width:$mobile) {
			flex-wrap: wrap;
			justify-content: space-evenly;
			row-gap: rem(30);
		}
	}

	&__column {
		display: grid;
		color: #231900;
	}

	&__image {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		position: relative;

		img {

			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__name {
		padding: rem(37) rem(0) rem(13) rem(0);
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(36, 24);

	}

	&__position {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 14);
		line-height: math.div(30, 20);

	}
}

.team-title {
	display: grid;
	place-items: center;

	&__value {
		font-weight: 600;
		font-size: rem(18);
		line-height: math.div(27, 18);
		color: $yellowColor;
		text-transform: uppercase;

		
	}

	&__label {
		font-weight: 600;
		@include adaptiveValue("font-size", 55, 28);

		line-height: math.div(82, 55);
		color: #231900;

	}
	&__border{
		padding-top: rem(25);
		border-bottom: 5px solid $yellowColor;
		width: rem(205);
	}
}

//========================================================================================================================================================

.discount {
	background: linear-gradient(91.02deg, #FFCC00 17.25%, rgba(255, 204, 0, 0) 178.38%);
	padding: rem(65) rem(0) rem(135) rem(0);


	&__container {
		display: flex;
		gap: rem(30);
		align-items: center;

		@media (max-width:$mobile) {
			flex-direction: column;
			justify-items: center;
			gap: rem(70);
		}
	}

	&__body {
		@media (max-width:$mobile) {
			display: grid;
			place-items: center;
			text-align: center;
		}
	}

	&__label {
		font-weight: 700;
		@include adaptiveValue("font-size", 55, 30);
		line-height: math.div(82, 55);

	}

	&__description {
		padding: rem(32) rem(0) rem(73) rem(0);
		font-weight: 600;
		@include adaptiveValue("font-size", 26, 18);
		line-height: math.div(39, 26);
	}

	&__icons {
		display: flex;
		gap: rem(12);

		@media (max-width:$mobileSmall) {
			flex-direction: column;
		}
	}

	&__icon {}

	&__image {

		position: relative;

		img {
			@include adaptiveValue("width", 585, 100);

			@media (max-width:$mobile) {
				width: rem(300);
			}
		}


	}
}

//========================================================================================================================================================


.brands {
	padding: rem(75) rem(0) rem(75) rem(0);

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: rem(50);

		@media (max-width:$mobile) {

			justify-content: center;
		}
	}

	&__image {
		transition: box-shadow 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {

				box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
			}
		}
	}
}